.chat {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.chat-content {
  flex: 1 1 auto;
  padding: 10px;
  overflow-y: scroll;

  border: 1px solid gray;
}

.chat-control {
  flex: 0 0 auto;

  padding: 10px;

  border: 1px solid gray;
  border-top: 0;
}

.chat-control-form {
  display: flex;
  flex-direction: row;
}

.chat-control-form__input {
  flex: 1 0 auto;
  margin-right: 10px;
  height: 30px;
}

.chat-content-message {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-content-message:nth-child(n + 2) {
  margin-top: 10px;
}

.chat-content-message__image {
  width: 40px;
  height: 40px;
  display: block;
}

.chat-content-message-text-container {
  flex: 1 1 auto;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
}

.chat-content-message-text-container__username {
  font-weight: bold;
}

.chat-content-message-text-container__text {
  font-weight: bolder;
}

.chat-content-message-text-container__text--blue {
  color: darkblue;
}

.chat-content-message-text-container__text--yellow {
  color: gold;
}
